<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- Service Log -->
    <appender name="ServiceLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/service.log</File>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logs/service.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>2</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>
    <!-- async -->
    <appender name="ASYNC-ServiceLog" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="ServiceLog"/>
    </appender>

    <logger name="com.facishare.bi.service.SchRunStorageService" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="com.facishare.bi.job.SimpleJob" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>


    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
